.profile__edit {
    margin: 0;
    margin-left: 18px;
    margin-top: 15px;
    height: 24px;
    width: 24px;
    background-color: transparent;
    border: 1px solid white;
    background-image: url('../../../images/Vector\ \(11\).png');
    background-position: center;
    background-repeat: no-repeat;
    cursor: pointer;
}

.profile__edit:hover {
    opacity: 0.6;
}


@media screen and (max-width:690px) {
    .profile__edit {
        margin-left: 8px;
    }
}


@media screen and (max-width:400px) {
    .profile__edit {
        margin-top: 8px;
    }
}