.popup__button {
    margin: 0;
    margin:8px 0 37px 0px;
    display: block;
    height: 50px;
    width: 358px;
    background-color: black;
    border-radius: 2px;
    color: white;
    font-size: 18px;
    font-weight: 400;
    line-height: 22px;
    cursor: pointer;
    border: none;
    opacity:1;
    transition: all .3s ease-in;
}

.popup__button:hover:enabled {
    background: rgba(0, 0, 0, 0.8);
    color:white;
}

@media screen and (max-width:470px) {
    .popup__button {
        width: 238px;
        height: 46px;
        margin-top: 10px;
        margin-bottom: 25px;
        font-size: 14px;
        line-height: 17px;
    }
}

