.header__logo {
    width: 142px;
    height: 33px;
    margin-bottom: 41px;
}

@media screen and (max-width:920px) {
    .header__logo {
        margin-left: 15px;
    }
}


@media screen and (max-width:320px) {
    .header__logo {
        margin-left: 27px;
        margin-top: 28px;
        margin-bottom: 31px;
        height: 24px;
        width: 103px;
    }
}