.elements__info {
    box-sizing: border-box;
    background-color: white;
    max-width: 282px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-top: 25px;
    margin-bottom: 31px;
}