.elements__info {
    position: absolute;
    background-color: white;
    min-height: 79px;
    max-width: 282px;
    width: 100%;
    bottom: 0;
    z-index: 10;
    display: flex;
    justify-content: space-between;
}