.elements {
    margin: 0 auto;
    max-width: 880px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(282px, max-content));
    justify-content: center;
    row-gap: 20px;
    column-gap: 17px;

}


@media screen and (max-width:620px) {
    .elements {
        margin-left: 19px;
        margin-right: 19px;
    }
}