.profile__add {
    margin: 0;
    padding: 0;
    margin-top: 35px;
    margin-left: auto;
    height: 50px;
    width: 150px;
    border-radius: 2px;
    background-color: transparent;
    border: 2px solid white;
    background-image: url('../../../images/Vector\ \(12\).png');
    background-position: center;
    background-repeat: no-repeat;
    cursor: pointer;

}

.profile__add:hover {
    opacity: 0.6;
}

@media screen and (max-width:690px) {
    .profile__add {
        margin-left: 0;
    }
}

@media screen and (max-width:400px) {
    .profile__add {
        width: 282px;
    }
}