.popup__close {
    cursor: pointer;
    position: absolute;
    top: -40px;
    right: -40px;
}

.popup__close:hover {
    opacity: 0.6;
}

@media screen and (max-width:522px) {
    .popup__close {
        width: 20px;
        height: 20px;
        right: 0;
    }
}