.elements__pic-name {
    margin: 0;
    margin-left: 21px;
    font-size: 24px;
    font-weight: 900;
    line-height: 29px;
    max-width: 200px;
    width: 100%;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}